[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs="*"
mkdocs-material="*"
mkdocs-git-revision-date-localized-plugin="*"
mkdocs-glightbox="*"
mkdocs-ezlinks-plugin="*"
mkdocs-macros-plugin="*"
mkdocs-literate-nav="*"
mkdocs-gen-files="*"
mkdocs-section-index="*"

[requires]
python_version = "3.12"
