@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), url("/type/roboto/thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin Italic"), url("/type/roboto/thin-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), url("/type/roboto/light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light Italic"), url("/type/roboto/light-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("/type/roboto/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"), url("/type/roboto/italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), url("/type/roboto/medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium Italic"), url("/type/roboto/medium-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("/type/roboto/bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"), url("/type/roboto/bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), url("/type/roboto/black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black Italic"), url("/type/roboto/black-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Light"), url("/type/roboto/condensed/light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-stretch: condensed;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Light Italic"), url("/type/roboto/condensed/light-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
  font-stretch: condensed;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Regular"), url("/type/roboto/condensed/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Italic"), url("/type/roboto/condensed/italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-stretch: condensed;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Bold"), url("/type/roboto/condensed/bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Bold Italic"), url("/type/roboto/condensed/bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  font-stretch: condensed;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Thin"), url("/type/roboto/slab/thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab ExtraLight"), url("/type/roboto/slab/extra-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Light"), url("/type/roboto/slab/light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Regular"), url("/type/roboto/slab/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Medium"), url("/type/roboto/slab/medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab SemiBold"), url("/type/roboto/slab/semi-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Bold"), url("/type/roboto/slab/bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab ExtraBold"), url("/type/roboto/slab/extra-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Black"), url("/type/roboto/slab/black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
